s2clientprotocol==4.10.3.76114.0
portpicker==1.4.0
numpy==1.20.0
requests==2.23.0
aiohttp==3.7.4
scipy==1.7.1
six==1.16.0
opencv-python==4.5.3.56
more-itertools==7.2.0
mpyq==0.2.5
scikit-learn==0.24.2
loguru==0.6.0
protobuf==3.20.2
